.notification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 35%;
    height: 45%;
    align-content: flex-start;
    margin: 3px;
}

.notification-icon {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
}

.notification-title {
    display: flex;
    justify-content: flex-start;
    color: antiquewhite;
    width: 80%;
}

.notification-body {
    display: flex;
    justify-content: flex-start;
    color: black;
    width: 55%;
    margin: 2px;
}

.notification-image {
    display: flex;
    justify-content: flex-start;
    color: antiquewhite;
    width: 40%;
    height: 40%;

}


a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: inherit;
    position: relative;
    width: 100%;
    display: block;
    font-size: 37px;
    color: #fff;
    padding: 10px;
    border-radius: 0px;
    border-left: inset;
    border-right: outset;
    background: black;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 0.2s ease-in-out;
}
