.update-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.update-title {
    margin: 2%;
    width: 100%;
}

.left-page-container {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.right-page-container {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-size-container {
    display: flex;
    width: 60%;
    height: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.save-button {
    height: 10%;
}
