.search-panel-container {
    display: flex;
    width: 80%;
    height: 20%;
    margin: 7%;
    margin-bottom: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
